.col-sm-12-teste {
    padding:05px;
    border:0px solid #000;
    width:100%;
    float:left;
    margin-right:20px;
}


.divText{
    margin-bottom:20px;
}


#LocalChart.dc-chart g.row text {
    fill: black;
}

#anoChart.dc-chart g.row text {
    fill: black;
}

#mapa.dc-chart g.layer0 path {
    stroke: gray;
    stroke-width: 0.5px;
}

#mapa.dc-chart g.layer1 path {
    stroke: black;
    stroke-width: 0.5px;
    fill: none;
}

.dc-chart path.area {
    fill-opacity: .6;
}

#quarterChart.dc-chart g.row text {
    fill: black;
    font-size: 10px;
}

.dc-table-column._3,
.dc-table-column._4,
.dc-table-column._5,
.dc-table-column._6,
.dc-table-column._7,
.dc-table-column._8,
.dc-table-column._9,
.dc-table-column._10,
.dc-table-column._11,
.dc-table-column._12,
.dc-table-column._13,
.dc-table-column._14,
.dc-table-column._15 {
    text-align: right;
}

.list-group-item {
    border: 0px;
}

.pvtAxisContainer li span.pvtAttr {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 0 solid #dedede;
    border-radius: 5px;
    white-space: normal;
}

.pvtAxisContainer.pvtUnused.pvtHorizList.ui-sortable:before {
    content: "Conjuntos disponíveis: ";
}

.pvtAxisContainer.pvtRows.ui-sortable:before {
    content: "Colunas: ";
}

.pvtAxisContainer.pvtHorizList.pvtCols.ui-sortable:before {
    content: "Linhas: ";
}

.dc-chart .bubble {
    fill-opacity: 0.6;
    stroke: gray;
}

.tooltip>.tooltip-inner {
    text-align: left;
}

.panel.noborder {
    border: none;
    box-shadow: none;
}

.panel.noborder>.panel-heading {
    border: 1px solid #dddddd;
    border-radius: 0;
}

.label {
    font-size: 8px;
    fill: #ffffff;
    text-anchor: middle;
}

.face {
    stroke: #c8c8c8;
    stroke-width: 2;
}

.minorTicks {
    stroke-width: 2;
    stroke: white;
}

.majorTicks {
    stroke: white;
    stroke-width: 3;
}

.resizable-helper {
    border: 1px solid gray;
}

.setaUp,
.setaDown {
    cursor: pointer;
}

#comparativoPop .setaUp,
#comparativoPop .setaDown {
    color: gray;
}

#comparativoDpg .setaUp {
    color: red;
}

#comparativoDpg .setaDown {
    color: green;
}