

    .fundo-amarelo{
        background-color: cor-amarelo
    }
    .fundo-verde{
        background-color: cor-verde
    }
    .fundo-ciano{
        background-color: cor-ciano
    }
    .fundo-roxo{
        background-color: cor-roxo
    }

    .cinza,.gray{
      color:gray;
    }
    .azul{
      color:cor-ciano;
    }
    .red{
      color:red;
    }
    .white{
      color:white;
    }




// HELPERS
.invisivel{
    visibility:hidden;
}

.visivel{
    visibility:visible;
}

.fullabs{
  box abs t 0 w 100% l 0 h 100%
  overflow: hidden;
  z-index:0;
}


.fadein{
    opacity 1;
    transition 400ms opacity;
}
.fadeout{
    opacity 0 ;
    transition 400ms opacity;
}

//Para os Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

    


