@font-face {
    font-family: "true";
    src: url("./true.eot?509305e26a12e36ffb3771089ab67d04?#iefix") format("embedded-opentype"),
url("./true.woff2?509305e26a12e36ffb3771089ab67d04") format("woff2"),
url("./true.woff?509305e26a12e36ffb3771089ab67d04") format("woff"),
url("./true.ttf?509305e26a12e36ffb3771089ab67d04") format("truetype"),
url("./true.svg?509305e26a12e36ffb3771089ab67d04#true") format("svg");
}

ins.vtl {
    line-height: 1;
}

ins.vtl:before {
    font-family: true !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.vtl-equipe:before {
    content: "\f101";
}
.vtl-icon-equipe:before {
    content: "\f102";
}
.vtl-icon-percurso:before {
    content: "\f103";
}
.vtl-icon-prova:before {
    content: "\f104";
}
.vtl-icon-resultado:before {
    content: "\f105";
}
.vtl-percurso:before {
    content: "\f106";
}
.vtl-prova:before {
    content: "\f107";
}
.vtl-resultado:before {
    content: "\f108";
}
