@font-face {
    font-family: "icons";
    src: url("./icons.eot?a9ae7c5aedd2f8b66f090fc03f31bfaa?#iefix") format("embedded-opentype"),
url("./icons.woff2?a9ae7c5aedd2f8b66f090fc03f31bfaa") format("woff2"),
url("./icons.woff?a9ae7c5aedd2f8b66f090fc03f31bfaa") format("woff"),
url("./icons.ttf?a9ae7c5aedd2f8b66f090fc03f31bfaa") format("truetype"),
url("./icons.svg?a9ae7c5aedd2f8b66f090fc03f31bfaa#icons") format("svg");
}

i.vtl {
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display:inline-block;
}

i.vtl:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
}

.vtl-Anfiteatro:before {
    content: "\f101";
}
.vtl-Veredas:before {
    content: "\f102";
}
.vtl-Vestiario:before {
    content: "\f103";
}
.vtl-Viveiro:before {
    content: "\f104";
}
.vtl-arvore:before {
    content: "\f105";
}
.vtl-atrativo:before {
    content: "\f106";
}
.vtl-ave:before {
    content: "\f107";
}
.vtl-benfeitoria:before {
    content: "\f108";
}
.vtl-centro-educacao:before {
    content: "\f109";
}
.vtl-dificuldade:before {
    content: "\f10a";
}
.vtl-distance:before {
    content: "\f10b";
}
.vtl-equipe:before {
    content: "\f10c";
}
.vtl-fruto:before {
    content: "\f10d";
}
.vtl-mamifero:before {
    content: "\f10e";
}
.vtl-oficial:before {
    content: "\f10f";
}
.vtl-parques:before {
    content: "\f110";
}
.vtl-peixe:before {
    content: "\f111";
}
.vtl-percurso:before {
    content: "\f112";
}
.vtl-resultado:before {
    content: "\f113";
}
.vtl-trecho:before {
    content: "\f114";
}
