# version: '3.7'
services:
  db:
    container_name: eac-postgres
    image: postgis/postgis:15-3.4
    restart: always
    env_file:
      - ./.env
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data
      - ./db-backup:/db-backup
      - ./db-init:/db-init
      # - ./db-init:/docker-entrypoint-initdb
    # 游녢 Sem 'ports'
    # ports:
    #   - "55432:5432"

  # DJANGO-LOGICA BACKEND
  backend:
    depends_on:
      - db
    container_name: eac-backend
    build: ./backend
    restart: always
    env_file:
      - ./.env
    ports:
      - "${BACKEND_PORT}:8686"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/euamoocerrado
    #   # expose:
    #   #   - 8080
    #   volumes:
    #   - ./data/media/:/app/media/
    #   - ./backend:/app
    #   #  command: bash -c 'while !</dev/tcp/db/5432; do sleep 5; done; python manage.py runserver 0.0.0.0:8686'
    #   # command: ["/app/start.sh", "db:5432", "python", "manage.py", "runserver", "0.0.0.0:80"]
    #   # command: ["/app/start.sh", "db:5432", "python", "manage.py", "runserver", "0.0.0.0:8080"]
    #   # command: ["/app/start.sh", "db", "python", "manage.py", "runserver", "0.0.0.0:8080"]
    command:
      [
        "/app/start.sh",
        "db",
        "python",
        "manage.py",
        "runserver",
        "0.0.0.0:8686",
      ]

  #   #  command: python manage.py runserver 0.0.0.0:80

  #GRAPH-QL que serve os dados para o frontend
  # Acessar o hasura no modo console
  #http://localhost:8383/?admin_secret=myadminsecretkey
  hassura:
    image: hasura/graphql-engine:v2.44.0
    container_name: eac-hassura
    ports:
      - "8383:80"
    depends_on:
      - db
    restart: always
    environment:
      HASURA_GRAPHQL_METADATA_DATABASE_URL: postgres://postgres:r00t05@db:5432/euamoocerrado
      ## enable the console served by server
      # HASURA_GRAPHQL_ENABLE_CONSOLE: "false" # set to "false" to disable console
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      ## enable debugging mode. It is recommended to disable this in production
      HASURA_GRAPHQL_DEV_MODE: "false"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      # Accepts from all domain
      HASURA_GRAPHQL_CORS_DOMAIN: "*"
      HASURA_GRAPHQL_DISABLE_CORS: "true"
      HASURA_GRAPHQL_SERVER_HOST: "0.0.0.0"
      ## uncomment next line to set an admin secret
      HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
      HASURA_GRAPHQL_SERVER_PORT: "80"

  #  frontend da Administra칞칚o. Por problema de vers칚o, o webpack-dev-server que fornece o servico.
  admin:
    container_name: eac-admin
    build:
      context: ./admin/
      dockerfile: Dockerfile
      target: node
    #restart: always
    env_file:
      - ./.env
    ports:
      - "${ADMIN_PORT}:8080"
        # - "9898:8080"
    depends_on:
      - backend
    working_dir: /app
    # command: sh -c 'yarn && yarn add webpack-dev-server@2.4.5 && npm run start'

    # 游녢 ADICIONE ISSO:
    volumes:
      - ./admin/src:/app/src # monta apenas o c칩digo fonte
      - ./admin/public:/app/public # opcional (para refletir imagens/html)
      - /app/node_modules # evita conflito do node_modules local
    environment:
      - CHOKIDAR_USEPOLLING=true # essencial para hot reload no Docker
  #    command: yarn start                    # ou npm start, conforme seu projeto

  nginx:
    container_name: eac-nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    # restart: always
    depends_on:
      - backend
      - admin
      - hassura
    env_file:
      - ./.env
    ports:
      # - "${NGIX_PORT}:80"
      # - "8989:80"  # Porta do host : Porta do container
      - "80:80" # Porta do host : Porta do container


    # volumes:
    #   - ./nginx/nginx.conf:/etc/nginx/nginx.conf

  # nginx:
  #     build:
  #       context: ./nginx/
  #       dockerfile: Dockerfile
  #     ports:
  #       # - "443:443"
  #     # env_file:
  #     #   - ./.env
  #     # volumes:
  #       # - ./nginx/nginx-dev.tmpl:/etc/nginx/nginx-dev.tmpl
  #       # - ./nginx/nginx-prod.tmpl:/etc/nginx/nginx-prod.tmpl
  #       # - ./nginx/run_nginx.sh:/etc/nginx/run_nginx.sh
  #       # # - ./letsencrypt/data/certbot/conf:/etc/letsencrypt
  #       # # - ./letsencrypt/data/certbot/www:/var/www/certbot
  #       # - "./data/nginx/cache:/etc/nginx/cache"
  #       # # - ./dist:/dist
  #       # - ./admin/public:/dist/admin

  #     # entrypoint: /etc/nginx/run_nginx.sh

  # # # BANCO DE DADOS - POSTGRES/POSTGIS
  # # # Executar esse comando depois do container ativo para restaurar os dados no banco
  # # # docker exec -i eac-postgres psql -U postgres -d euamoocerrado < ./db-backup/backup_completo.sql
  # admin:
  #   container_name: eac-admin
  #   build:
  #     context: ./admin/
  #     dockerfile: Dockerfile
  #     target: node
  #   ports:
  #     - "9898:8080"
  #   env_file:
  #     - ./.env
  #   volumes:
  #     - ./admin:/app
  #     - /app/node_modules  # Evita conflitos com node_modules local
  #   working_dir: /app
  #   command: npm run start
  #   environment:
  #     - NODE_ENV=development
  #   stdin_open: true
  #   tty: true
## #################################################################

# services:

#   # INGRESS DO EUAMOCERRADO

#   nginx:
#       container_name: eac-ngix
#       build:
#         context: nginx
#         dockerfile: Dockerfile
#       restart: always
#       ports:
#         - "8888:80"
#       volumes:
#         - ./nginx/static:/static
#       depends_on:
#         - hassura
#         - frontend
#       env_file:
#         - ./.env

#   # Nginx do Frontend
#   frontend:
#     container_name: eac-frontend
#     build:
#       context: ./frontend
#       dockerfile: Dockerfile
#     ports:
#       - "8282:80"

#   # BANCO DE DADOS - POSTGRES/POSTGIS
#   db:
#       container_name: eac-postgres
#       image: mdillon/postgis
#       restart: always
#       env_file:
#       - ./.env
#       volumes:
#       - ./data/pgdata:/var/lib/postgresql/data
#       - ./db-backup:/db-backup
#       - ./db-init:/docker-entrypoint-initdb.d
#       ports:
#       - "5433:5432"

#   #GRAPH-QL que serve os dados para o frontend
#   hassura:
#     image: hasura/graphql-engine:v2.0.3
#     container_name: eac-hassura
#     ports:
#     - "8383:80"
#     depends_on:
#     - "db"
#     restart: always
#     environment:
#       HASURA_GRAPHQL_METADATA_DATABASE_URL: postgres://postgres:r00t05@db:5432/euamoocerrado
#       ## enable the console served by server
#       HASURA_GRAPHQL_ENABLE_CONSOLE: "false" # set to "false" to disable console
#       ## enable debugging mode. It is recommended to disable this in production
#       HASURA_GRAPHQL_DEV_MODE: "false"
#       HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
#       # Accepts from all domain
#       HASURA_GRAPHQL_CORS_DOMAIN: "*"
#       HASURA_GRAPHQL_DISABLE_CORS: 'true'
#       HASURA_GRAPHQL_SERVER_HOST: "*"
#       ## uncomment next line to set an admin secret
#       HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
#       HASURA_GRAPHQL_SERVER_PORT: 80

#   # SERVI칂O DE M칈DIA para servir imagens est치ticas e thumbnails que era do DJANGO
#   media_service:
#     container_name: eac-media-service
#     build:
#       context: ./media_service
#       dockerfile: Dockerfile
#     restart: always
#     volumes:
#       - ./data/media:/data/media # Mapeia o diret칩rio de m칤dia do host para o container
#     # N칚o precisa expor portas para o host diretamente, o Nginx global far치 o proxy
#     # ports:
#     #   - "5001:5000" # Apenas para debug, se necess치rio acessar diretamente
#     env_file:
#       - ./.env # Se precisar de vari치veis de ambiente comuns

