services:

  # INGRESS DO EUAMOCERRADO

  nginx:
      container_name: eac-nginx
      build: 
        context: nginx
        dockerfile: Dockerfile
      restart: always
      ports:
        - "80:80"
      volumes:
        - ./nginx/static:/static
      depends_on:
        - hassura
        - frontend
      env_file:
        - ./.env

  # DJANGO-LOGICA BACKEND
  backend:
    depends_on:
      - db
    container_name: eac-backend
    build: ./backend
    restart: always
    env_file:
      - ./.env
    ports:
      - "8585:8585"
    # volumes:
    # - ./data/media/:/app/media/
    # - ./backend:/app
    #  command: bash -c 'while !</dev/tcp/db/5432; do sleep 5; done; python manage.py runserver 0.0.0.0:8686'
    command: ["/app/start.sh", "db:5432", "python", "manage.py", "runserver", "0.0.0.0:8585"]  
    #  command: python manage.py runserver 0.0.0.0:80


  # Nginx do Frontend
  frontend:
    container_name: eac-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile

  # BANCO DE DADOS - POSTGRES/POSTGIS
  db:
      container_name: eac-postgres
      image: postgis/postgis:15-3.4
      # image: mdillon/postgis
      restart: always
      env_file:
      - ./.env
      volumes:
      - ./data/pgdata:/var/lib/postgresql/data
      - ./db-backup:/db-backup
      # - ./db-init:/docker-entrypoint-initdb.d
      ports:
      - "5433:5432"

  #GRAPH-QL que serve os dados para o frontend
  hassura:
    image: hasura/graphql-engine:v2.33.1
    container_name: eac-hassura
    ports:
    - "8383:8080"
    depends_on:
    - "db"
    restart: always
    environment:
      HASURA_GRAPHQL_METADATA_DATABASE_URL: postgres://postgres:r00t05@db:5432/euamoocerrado
      ## enable the console served by server
      # HASURA_GRAPHQL_ENABLE_CONSOLE: "false" # set to "false" to disable console
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      ## enable debugging mode. It is recommended to disable this in production
      HASURA_GRAPHQL_DEV_MODE: "false"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      # Accepts from all domain
      HASURA_GRAPHQL_CORS_DOMAIN: "*"
      HASURA_GRAPHQL_DISABLE_CORS: 'true'
      HASURA_GRAPHQL_SERVER_HOST: "*"
      ## uncomment next line to set an admin secret
      HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
      # HASURA_GRAPHQL_SERVER_PORT: 80

  # SERVIÇO DE MÍDIA para servir imagens estáticas e thumbnails que era do DJANGO
  media_service:
    container_name: eac-media-service
    build:
      context: ./media_service
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./data/media:/data/media # Mapeia o diretório de mídia do host para o container
    env_file:
      - ./.env # Se precisar de variáveis de ambiente comuns
