services:
  # INGRESS DO EUAMOCERRADO

  nginx:
    container_name: eac-ngix
    build:
      context: nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      #        - "8888:80"
      - "80:80"
    volumes:
      - ./nginx/static:/static
    depends_on:
      - hassura
      - frontend
    env_file:
      - ./.env

  # Nginx do Frontend
  frontend:
    container_name: eac-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8282:80"
  #      - "80:80"

  # BANCO DE DADOS - POSTGRES/POSTGIS
  db:
    container_name: eac-postgres
    image: postgis/postgis:15-3.4
    restart: always
    env_file:
      - ./.env
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data
      - ./db-backup:/db-backup
      # - ./db-init:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"

  #GRAPH-QL que serve os dados para o frontend
  hassura:
    image: hasura/graphql-engine:v2.0.3
    container_name: eac-hassura
    ports:
      - "8383:80"
    depends_on:
      - "db"
    restart: always
    environment:
      HASURA_GRAPHQL_METADATA_DATABASE_URL: postgres://postgres:r00t05@db:5432/euamoocerrado
      ## enable the console served by server
      HASURA_GRAPHQL_ENABLE_CONSOLE: "false" # set to "false" to disable console
      ## enable debugging mode. It is recommended to disable this in production
      HASURA_GRAPHQL_DEV_MODE: "false"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      # Accepts from all domain
      HASURA_GRAPHQL_CORS_DOMAIN: "*"
      HASURA_GRAPHQL_DISABLE_CORS: "true"
      HASURA_GRAPHQL_SERVER_HOST: "*"
      ## uncomment next line to set an admin secret
      HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
      HASURA_GRAPHQL_SERVER_PORT: 80

  # SERVIÇO DE MÍDIA para servir imagens estáticas e thumbnails que era do DJANGO
  media_service:
    container_name: eac-media-service
    build:
      context: ./media_service
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./data/media:/data/media # Mapeia o diretório de mídia do host para o container
    # Não precisa expor portas para o host diretamente, o Nginx global fará o proxy
    # ports:
    #   - "5001:5000" # Apenas para debug, se necessário acessar diretamente
    env_file:
      - ./.env # Se precisar de variáveis de ambiente comuns

