appdirs==1.4.4
argcomplete==1.10.3
asgiref==3.8.1
astroid==3.3.9
beautifulsoup4==4.8.2
cached-property==2.0.1
chardet==3.0.4
compressed-rtf==1.0.7
debugpy==1.8.14
dill==0.4.0
dj-rest-auth==7.0.1
Django==5.2
django-cors-headers==4.7.0
django-filter==24.3
django-leaflet==0.31.0
djangorestframework==3.15.2
djangorestframework-gis==1.1
docx2txt==0.9
ebcdic==1.1.1
EbookLib==0.19
extract-msg==0.28.7
IMAPClient==2.1.0
isort==6.0.1
lazy-object-proxy==1.11.0
lxml==5.4.0
mccabe==0.7.0
olefile==0.47
packaging==25.0
pdfminer.six==20191110
pillow==11.2.1
platformdirs==4.3.7
psycopg2-binary==2.9.10
pycryptodome==3.22.0
pylint==3.3.6
pyparsing==3.2.3
python-pptx==0.6.23
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.8.1
sqlparse==0.5.3
textract==1.6.5
tomlkit==0.13.2
typing_extensions==4.13.2
tzlocal==5.3.1
Wand==0.6.13
wrapt==1.17.2
xlrd==1.2.0
XlsxWriter==3.2.3
