error_log /var/log/nginx/error.log warn;

user www-data;
worker_processes 1;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    client_max_body_size 100M;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    #access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;
    gzip on;
    gzip_disable "msie6";

    proxy_cache_path /etc/nginx/cache levels=1:2 keys_zone=my_cache:10m max_size=1g;


    # LETENTRYPT CERT BOT
    # server {
    #     listen 80;
    #     server_name euamocerrado.com.br www.euamocerrado.com.br;
    #     location /.well-known/acme-challenge/ {
    #         root /var/www/certbot;
    #     }
    # }


    server {
        listen 80;
        server_name euamocerrado.test euamocerrado.com.br www.euamocerrado.com.br localhost;

        location / {
            index index.html;
            root /dist/frontend;
            proxy_no_cache 1;
            proxy_cache_bypass 1;
            #  root /dist/admin/;
            # try_files $uri $uri/index.html index.html;
            try_files $uri $uri/ /index.html;
            # proxy_cache my_cache;
            # proxy_cache_use_stale error timeout http_500 http_502 http_503 http_504;
            # proxy_cache_revalidate on;
            # proxy_cache_background_update on;
            # proxy_cache_lock on;

            # proxy_cache_valid 200 24h;
            # proxy_cache_max_range_offset 0;

            # client_max_body_size 128M;
            # proxy_buffer_size 256k;
            # proxy_buffers 4 512k;
            # proxy_busy_buffers_size 512k;
            # proxy_pass_header Server;
            # proxy_set_header Host $http_host;
            # proxy_set_header X-Real-IP $remote_addr;
            # proxy_set_header X-Scheme $scheme;
            # proxy_set_header X-Real-IP	$remote_addr;
            # proxy_set_header X-Forwarded-For	$proxy_add_x_forwarded_for;
            # proxy_redirect off;
            # proxy_pass http://frontend;
        }

        location /admin {
            # root /dist/frontend/;
            root /dist/admin;
            proxy_no_cache 1;
            proxy_cache_bypass 1;
            # try_files $uri $uri/index.html index.html;
            try_files $uri $uri/ /index.html;
            # proxy_cache my_cache;
        }

        # location /api {
        #     add_header Access-Control-Allow-Origin *;
        #     proxy_pass_header Server;
        #     proxy_set_header Host $http_host;
        #     proxy_set_header X-Real-IP $remote_addr;
        #     proxy_set_header X-Scheme $scheme;
        #     proxy_set_header X-Real-IP	$remote_addr;
        #     proxy_set_header X-Forwarded-For	$proxy_add_x_forwarded_for;
        #     proxy_redirect off;
        #     proxy_pass http://backend/api/;

        #     proxy_cache my_cache;
        #     proxy_cache_use_stale error timeout http_500 http_502 http_503 http_504;
        #     proxy_cache_revalidate on;
        #     proxy_cache_background_update on;
        #     proxy_cache_lock on;

        #     proxy_cache_valid 200 20m;
        #     proxy_cache_max_range_offset 0;

        #     client_max_body_size 128M;
        #     proxy_buffer_size 256k;
        #     proxy_buffers 4 512k;
        #     proxy_busy_buffers_size 512k;

        # }

          location /api {
            #resolver impede que o nginx pare se não acha o servico
            resolver 127.0.0.1 valid=5s;
            proxy_no_cache 1;
            proxy_cache_bypass 1; 
            proxy_set_header Host $http_host;
            # proxy_set_header X-Real-IP $remote_addr;
            # proxy_hide_header Access-Control-Allow-Origin;
            # add_header Access-Control-Allow-Origin $http_origin always;
            # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            # proxy_set_header X-Forwarded-Host $host;

            # sub_filter 'http://localhost/api/'  'http://localhost:8080/api/';
            #sub_filter 'href="/static/'  'href="/api/static/';
            sub_filter_once off;
            
            proxy_pass http://backend/api;
   
            # proxy_intercept_errors on;
            # error_page 404 = /index.html;
           
        }

        location /graphql {
           #resolver impede que o nginx pare se não acha o servico
            # resolver 127.0.0.1 valid=5s;
            proxy_no_cache 1;
            proxy_cache_bypass 1; 
            proxy_set_header Host $http_host;
            # proxy_set_header X-Real-IP $remote_addr;
            # proxy_hide_header Access-Control-Allow-Origin;
            # add_header Access-Control-Allow-Origin $http_origin always;
            # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            # proxy_set_header X-Forwarded-Host $host;

            # sub_filter 'http://localhost/api/'  'http://localhost:8080/api/';
            #sub_filter 'href="/static/'  'href="/api/static/';
            sub_filter_once off;
            
            # proxy_pass http://backend/api;
            
            proxy_pass  http://hassura/v1/graphql;
        }

        location /hassura {
            #resolver impede que o nginx pare se não acha o servico
            # resolver 127.0.0.1 valid=5s; - não dando certo
            proxy_no_cache 1;
            proxy_cache_bypass 1; 
            proxy_set_header Host $http_host;

            sub_filter_once off;
            # set $hassura hassura/v1/graphql;
            
            proxy_pass  http://hassura/;
        }

    }

    server {

        listen 80;
        server_name admin.euamocerrado.com.br admin.euamocerrado.test;
        index index.html;

        location / {
            # root /dist/frontend/;
            root /dist/admin;
            proxy_no_cache 1;
            proxy_cache_bypass 1;
              try_files $uri $uri/ /index.html;
            # proxy_cache my_cache;
        }

        location /api {
            #resolver impede que o nginx pare se não acha o servico
            resolver 127.0.0.1 valid=5s;
            proxy_no_cache 1;
            proxy_cache_bypass 1; 
            proxy_set_header Host $http_host;
            # proxy_set_header X-Real-IP $remote_addr;
            # proxy_hide_header Access-Control-Allow-Origin;
            # add_header Access-Control-Allow-Origin $http_origin always;
            # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            # proxy_set_header X-Forwarded-Host $host;

            # sub_filter 'http://localhost/api/'  'http://localhost:8080/api/';
            #sub_filter 'href="/static/'  'href="/api/static/';
            sub_filter_once off;
            
            proxy_pass http://backend/api;
   
            # proxy_intercept_errors on;
            # error_page 404 = /index.html;
           
        }
    }



     server {

        listen 80;
        server_name graphql.euamocerrado.com.br graphql.euamocerrado.test;
        index index.html;

        location / {
            proxy_no_cache 1;
            proxy_cache_bypass 1; 
            proxy_set_header Host $http_host;

            sub_filter_once off;
            # set $hassura hassura/v1/graphql;
            
            proxy_pass  http://hassura/v1/graphql;
        }


    }


}