@import mixen-and-variables


//lidando com GEOS Input
.f-calendario

  &.open
    .ui.input input
      background white

  .elemento-complemento 
    width 325px;
    // height 400px;
    // top:30px;

