@import mixen-and-variables

.input-textarea{
    border-bottom: 1px dashed rgba(0,0,0,0.3);
  }

.DraftEditor-root{
  color:cor-azul-escuro  !important
  }
.rdw-editor-main {
  padding-left:10px !important;
  }
.rdw-editor-toolbar{
  position:absolute;
  margin-top:-80px;
  z-index: 99999;
}


.rdw-editor-wrapper {
    box-sizing: content-box;
    width: 100% !important;
}

.public-DraftStyleDefault-block{
  margin:0 !important;
  padding: 0.5em 0 !important;
  }

  .jodit_container .jodit_workplace,
.jodit_container .jodit_toolbar,
.jodit_container .jodit_statusbar,
.jodit_container .jodit_toolbar>li.jodit_toolbar_btn.jodit_toolbar_btn-separator,
.jodit_container .jodit_toolbar>li.jodit_toolbar_btn.jodit_toolbar_btn-break {
border-color: transparent;
}
.jodit_container .jodit_toolbar,
.jodit_container .jodit_statusbar {
  background-color: transparent;
}

.jodit_container .jodit_icon,
.jodit_container .jodit_toolbar .jodit_toolbar_btn>a {
fill: #7c5b56;
color: #7c5b56;
}
.jodit_container {
background-color: transparent;
border:none;
}
.jodit_container .jodit_toolbar>li.jodit_toolbar_btn.jodit_with_dropdownlist .jodit_with_dropdownlist-trigger {
border-top-color: #ffffff;
}